.chit-textarea {
    width: 80%; 
    height: 150px;
    font-size: 16px;
  }
  
  @media (min-width: 768px) {
    .chit-textarea {
      width: 90%;
      height: 200px;
      font-size: 20px;
    }
  }
  
  @media (min-width: 1200px) {
    .chit-textarea {
      width: 90%;
      height: 300px;
      font-size: 40px;
    }
  }

  .submit-button {
    margin-top: 20px;
    padding: 10px 20px; /* Increase padding to make the button bigger */
    font-size: 18px; /* Increase font size */
    color: black; /* Text color */
    background-color: #c4c6c9; /* Background color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor to pointer when hovering over the button */
    transition: background-color 0.3s ease; /* Add transition for hover effect */
  }
  
  .submit-button:hover {
    background-color: #949499; /* Change background color when hovering over the button */
  }